*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: radikal ;
    src: url('./fonts/Radikal/Nootype\ -\ Radikal\ Bold.otf');
}
@font-face {
    font-family: radikal-light;
    src: url('./fonts/Radikal/Nootype\ -\ Radikal\ Light.otf');
}
@font-face {
    font-family: radikal-medium ;
    src: url('./fonts/Radikal/Nootype\ -\ Radikal\ Medium.otf');
}
@font-face {
    font-family: radikal-thin;
    src: url('./fonts/Radikal/Nootype\ -\ Radikal\ Thin.otf');
}
@font-face {
    font-family: radikal-ultra-thin;
    src: url('./fonts/Radikal/Nootype\ -\ Radikal\ UltraThin.otf');
}

body{
    background-color: rgb(237, 246, 248);
    font-family: radikal-medium;
    overflow-x: hidden;
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
header{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem 0rem;
    font-size: 0.8rem;
    color: #18012e;
    align-items: center;
    position: fixed;
    background-color: rgb(237, 246, 248);
    z-index: 999;
}
.innerHeader{
    width: 90%;
    background-color: rgb(237, 246, 248);
    display: flex;
    justify-content: space-between;
    z-index: 999;
}
header button{
    border: 3px solid #18012e;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    color: #18012e;
    font-family: radikal-medium;
}
main{
    margin-top: 10rem;
    display: flex;
    width: 90%;
}
.main{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main h1{
    width: 90%;
    font-size: 3rem
}
.main p{
    font-size: 1.1rem;
}
main h1 span {
    color: rgb(17, 171, 218);
}
.main img{
    width: 90%;
    border-radius: 1rem;
}
section{
    margin-top: 5rem;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sectionHeader{
    display: flex;
    width: 60%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.sectionHeader h1{
    font-size: 2rem;
}
.sectionHeader p{
    font-family: radikal-thin;
    text-align: center;
    color: gray;
    font-size: 1.2rem;
    width: 85%;
}
.sectionMain{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    width: 70%;
}
.classCard{
    width: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 10px 10px 10px gainsboro;
    gap: 1.2rem;
    padding: 1rem 0rem 3rem 0rem;
}
.classCard img{
    width: 90%;
    border-radius: 1rem;
}
.classCard h2{
    width: 90%;
    text-align: left;
    font-size: 1rem;
}
.classCard p{
    color: gray;
    width: 90%;
}
.stats{
    margin-top: 5em;
    background-color: rgb(17, 171, 218);
    color: white;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding: 3rem 0rem;
    border-radius: 3rem;
    gap: 5rem;
}
.statsBody{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.coursesContainer{
    margin-top: 5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.courseCard{
    width: 20%;
}
.courseCard img{
    width: 100%;
    margin-bottom: 0.5rem;
}
.courseCard h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}
.courseCard h2 img{
    width: auto;
}
.subjectDiv{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.subjectDiv h1{
    color: rgb(17, 171, 218);
    text-align: center;
    font-family: radikal;
}
.subjectDiv h1 span{
    font-size: 1.2rem;
    color: black;
}
.subjectCard{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}
.subjectCard img{
    width: 32%;
    border-radius: 1rem;
    border: 2px solid rgb(17, 171, 218) ;
}
.commentDiv{
    width: 90%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.commentCards{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.commentCard{
    width: 20%;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem 1rem;
}
.commentCard p{
    color: gray;
    margin-bottom: 1rem;
}
.commentCard h3{
    font-size: 1rem;
}
footer img{
    mix-blend-mode: multiply;
}
footer{
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    flex-direction: column;
    padding: 3rem 1rem;
    margin-top: 4rem;
    color: rgb(92, 92, 92);
}
.logoandsocials,.downloadButtons{
    width: 30%;
}
.social img{
    width: 10%;
}
.readabout{
    width: 60%;
    padding: 0rem 1.5rem
}
.readabtUpper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.logo{
    margin-bottom: 2rem;
}
.upperFooter{
    display: flex;
}
.logo{
    width: 30%;
}
.readabtLower{
    font-family: radikal-thin;

}
.lowerFooter{
    font-family: radikal-thin;
}
@media screen and (max-width: 950px){
    header{
        font-size: 0.8rem;
        padding: 1.5rem 0rem;
        width: 100%;
        background-color: rgb(237, 246, 248);
    }
    .innerHeader{
        width: 80%;
        align-items: center;
    }
    header button{
        padding: 0.8rem 1rem;
        border: 1px solid #18012e;
        font-size: 0.8rem; 
    }
    main{
        flex-direction: column;
        margin-top: 7rem;
    }
    .main{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main h1{
        font-size: 3rem;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        letter-spacing: 0.05rem;
    }
    .main p{
        font-size: 0.9rem;
        text-align: center;
        letter-spacing: 0.03rem;
    }
    .main img{
        width: 100%;
        margin-top: 2rem;
    }
    section{
        justify-content: center;
        margin-top: 2rem;
    }
    .sectionMain{
        width: 90%;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .classCard{
        width: 45%;
        padding: 1rem 0rem 1rem 0rem;
    }
    .classCard p, .classCard h2{
        font-size: 0.8rem;
    }
    .stats{
        width: 100%;
        border-radius: 0rem;
        gap: 2rem;
        padding: 2rem 0rem;
    }
    .stats h1{
        font-size: 2rem;
        width: 90%;
        text-align: center;
    }
    .statsBody{
        gap: 1rem;
    }
    .stat{
        width: 100%;
        /* text-align: center; */
    }
    .stat h1{
        font-size: 2rem;
    }
    .coursesContainer h1{
        font-size: 2.5rem;
    }
    .coursesContainer{
        margin-top: 2rem;
    }
    .courseCard{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courseCard h2{
        gap: 0.5rem;
        width: 50%;
        font-size: 0.7rem;
        justify-content: center;
        /* background-color: red; */
    }
    .courseCard h2 img{
        width: 15%;
    }

    .subjectDiv h1{
        font-size: 2rem;
    }
    .subjectDiv h1 span{
        font-size: 1.2rem;
    }
    .subjectCard{
        flex-direction: column;
        width: 60%;
        gap: 2rem;
    }
    .subjectCard img{
        width: 100%;
    }
    .sectionHeader{
        width: 90%;
    }
    .sectionHeader h1{
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    .sectionHeader p{
        font-size: 1rem;
        width: 100%;
    }
    .commentDiv h1{
        font-size: 2rem;
        text-align: center;
    }
    .commentDiv P{
        font-size: 1rem;
    }
    .commentCards{
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
    }
    .commentCard{
        width: 45%;
    }
    .commentCard h3{
        font-size: 0.75rem;
    }
    footer{
        padding: 2rem 1rem;
    }
    .lowerFooter{
        text-align: center;
        margin-top: 2rem;
    }
    .upperFooter{
        gap: 2rem;
    }
    .readabout{
        display: flex;
        flex-direction: column;
        padding: 0;
        font-size: 1rem;
        width: 40%;
    }
    .readabtUpper{
        flex-wrap: wrap;
        gap: 0.5rem;
    }
    .readabtUpper p{
        width: 30%;
    }
    .downloadButtons{
        display: flex;
        margin-bottom: 2rem;
    }
    .downloadButtons img{
        width: 35%;
    }
    .logoandsocials,.downloadButtons{
        width: 30%;
    }
    .social img{
        width: 15%;
    }
    .downloadButtons{
        align-items: flex-start;
    }
}
@media screen and (max-width: 600px){
    header{
        font-size: 0.4rem;
        padding: 1.5rem 0rem;
        width: 100%;
        background-color: rgb(237, 246, 248);
    }
    .innerHeader{
        width: 80%;
    }
    header button{
        padding: 0.8rem 1rem;
        border: 1px solid #18012e;
        font-size: 0.6rem; 
    }
    .innerHeader h2{
        display: none;
    }
    main{
        flex-direction: column;
        margin-top: 4.5rem;
    }
    .main{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main h1{
        font-size: 0.9rem;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;
        letter-spacing: 0.05rem;
    }
    .main p{
        font-size: 0.7rem;
        text-align: center;
        letter-spacing: 0.03rem;
    }
    .main h1 br{
        display: none;
    }
    .main img{
        width: 100%;
        margin-top: 2rem;
    }
    section{
        justify-content: center;
        margin-top: 2rem;
    }
    .sectionMain{
        width: 90%;
        flex-direction: column;
        gap: 2rem;
    }
    .classCard{
        width: 100%;
        padding: 1rem 0rem 1rem 0rem;
    }
    .classCard p, .classCard h2{
        font-size: 0.8rem;
    }
    .stats{
        width: 100%;
        border-radius: 0rem;
        gap: 2rem;
        padding: 2rem 0rem;
    }
    .stats h1{
        font-size: 0.8rem;
    }
    .statsBody{
        flex-direction: column;
        gap: 1rem;
    }
    .stat{
        width: 100%;
        text-align: center;
    }
    .stat h1{
        font-size: 2rem;
    }
    .coursesContainer h1{
        font-size: 1rem;
    }
    .coursesContainer{
        margin-top: 2rem;
    }
    .courseCard{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courseCard h2{
        gap: 0.5rem;
        width: 50%;
        font-size: 0.7rem;
        justify-content: center;
        /* background-color: red; */
    }
    .courseCard h2 img{
        width: 15%;
    }

    .subjectDiv h1{
        font-size: 1.1rem;
    }
    .subjectDiv h1 span{
        font-size: 0.9rem;
    }
    .subjectCard{
        flex-direction: column;
        width: 90%;
        gap: 2rem;
    }
    .subjectCard img{
        width: 100%;
    }
    .sectionHeader{
        width: 90%;
    }
    .sectionHeader h1{
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
    }
    .sectionHeader p{
        font-size: 0.8rem;
        width: 100%;
    }
    .commentDiv h1,P{
        font-size: 0.8rem;
    }
    .commentCards{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .commentCard{
        width: 85%;
    }
    .commentCard h3{
        font-size: 0.75rem;
    }
    footer{
        padding: 2rem 1rem;
    }
    .upperFooter{
        flex-direction: column;
        gap: 2rem;
    }
    .readabout{
        display: flex;
        flex-direction: column;
        padding: 0;
        font-size: 0.6rem;
        width: 90%;
    }
    .readabtUpper{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .readabtUpper p{
        width: 30%;
    }
    .downloadButtons{
        display: flex;
        margin-bottom: 2rem;
    }
    .downloadButtons img{
        width: 40%;
    }
    .logoandsocials,.downloadButtons{
        width: 90%;
    }
}